
a {text-decoration: none;}
h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat';
font-style: normal;
}

body {
    font-family: 'Montserrat';
    margin: 5%;
    background-color: #DCDCDC;
    text-align: center;
}

fieldset {
    background-color: white;
    border-radius: 1em;
    font-size: 20px;
    height: 40vh;

}

.likert li {
    float: left;
    list-style-type: none;
}

#leadership, #extrovertness, #group_admin {
    margin-bottom: 5%;
}

legend {
    color: black;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    background: #F98404;
    padding: 0.5em;
    margin: 0% 1%;
    font-size: 'Montserrat';
}

#survey2 {
    text-align: center;
}

.myUL {
    margin-left: 38%;
}

#submit {
    border-radius: 1em;
    text-decoration: none;
    padding: 0.5em;
    font-size: 29px;
    font-family: 'Montserrat';
    background-color:#F98404;
    width: auto;
    width: 10%;
    margin-left:auto;
    margin-right:auto;
    color: black;
}

#submit:hover {
    background-color: black;
    transition: 0.3s;
    color: white;   
}

